nifi/load_weather.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>631311d5-0185-1000-3682-4582ded11c4b</groupId>
    <name>load weather</name>
    <snippet>
        <controllerServices>
            <id>160edeee-0bff-3bb7-0000-000000000000</id>
            <parentGroupId>945e2f45-1664-3de6-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>
                        <name>csv-reader-csv-parser</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>
                        <name>CSV Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>
                        <name>Value Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>
                        <name>Record Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>
                        <name>Skip Header Line</name>
                    </value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>
                        <name>ignore-csv-header</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>
                        <name>Quote Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>
                        <name>Escape Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                    <value>
                        <name>Comment Marker</name>
                    </value>
                </entry>
                <entry>
                    <key>Null String</key>
                    <value>
                        <name>Null String</name>
                    </value>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>
                        <name>Trim Fields</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>
                        <name>csvutils-character-set</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-allow-duplicate-header-names</key>
                    <value>
                        <name>csvutils-allow-duplicate-header-names</name>
                    </value>
                </entry>
            </descriptors>
            <name>CSVReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>commons-csv</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>custom</value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>,</value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>\n</value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>"</value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>\</value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                </entry>
                <entry>
                    <key>Null String</key>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>UTF-8</value>
                </entry>
                <entry>
                    <key>csvutils-allow-duplicate-header-names</key>
                    <value>true</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.csv.CSVReader</type>
        </controllerServices>
        <controllerServices>
            <id>eac0b9b0-e338-36b8-0000-000000000000</id>
            <parentGroupId>945e2f45-1664-3de6-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>
                        <name>CSV Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>
                        <name>Value Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Include Header Line</key>
                    <value>
                        <name>Include Header Line</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>
                        <name>Quote Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>
                        <name>Escape Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                    <value>
                        <name>Comment Marker</name>
                    </value>
                </entry>
                <entry>
                    <key>Null String</key>
                    <value>
                        <name>Null String</name>
                    </value>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>
                        <name>Trim Fields</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Mode</key>
                    <value>
                        <name>Quote Mode</name>
                    </value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>
                        <name>Record Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Include Trailing Delimiter</key>
                    <value>
                        <name>Include Trailing Delimiter</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>
                        <name>csvutils-character-set</name>
                    </value>
                </entry>
            </descriptors>
            <name>CSVRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>custom</value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>,</value>
                </entry>
                <entry>
                    <key>Include Header Line</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>"</value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>\</value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                </entry>
                <entry>
                    <key>Null String</key>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>Quote Mode</key>
                    <value>MINIMAL</value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>\n</value>
                </entry>
                <entry>
                    <key>Include Trailing Delimiter</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>UTF-8</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
        </controllerServices>
        <processGroups>
            <id>7e24f040-a26e-38d9-0000-000000000000</id>
            <parentGroupId>945e2f45-1664-3de6-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>508a16d2-409a-3824-0000-000000000000</id>
                    <parentGroupId>7e24f040-a26e-38d9-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>7e24f040-a26e-38d9-0000-000000000000</groupId>
                        <id>65479159-74de-3b20-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>adba72ec-195b-39cd-0000-000000000000</groupId>
                        <id>dd3298e6-884c-3377-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>62524954-9a36-3e35-0000-000000000000</id>
                    <parentGroupId>7e24f040-a26e-38d9-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>7e24f040-a26e-38d9-0000-000000000000</groupId>
                        <id>d2295b5f-c87a-3618-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>adc499e7-3fae-3ce3-0000-000000000000</groupId>
                        <id>2b111c23-4637-3523-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a21f004d-8c47-3120-0000-000000000000</id>
                    <parentGroupId>7e24f040-a26e-38d9-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>7e24f040-a26e-38d9-0000-000000000000</groupId>
                        <id>d2295b5f-c87a-3618-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>0724875e-7506-384a-0000-000000000000</groupId>
                        <id>fad4d5ab-ecb0-3e27-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b6998351-43ee-3214-0000-000000000000</id>
                    <parentGroupId>7e24f040-a26e-38d9-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>adba72ec-195b-39cd-0000-000000000000</groupId>
                        <id>1c099d77-a971-31a6-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>7e24f040-a26e-38d9-0000-000000000000</groupId>
                        <id>d2295b5f-c87a-3618-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b923b762-2d4b-3a3d-0000-000000000000</id>
                    <parentGroupId>7e24f040-a26e-38d9-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>adc499e7-3fae-3ce3-0000-000000000000</groupId>
                        <id>5dd4d531-82c1-3c13-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>04135d1e-c852-33b7-0000-000000000000</groupId>
                        <id>fb29f364-f14a-30ea-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>d2295b5f-c87a-3618-0000-000000000000</id>
                    <parentGroupId>7e24f040-a26e-38d9-0000-000000000000</parentGroupId>
                    <position>
                        <x>568.0000560060382</x>
                        <y>302.99995126157364</y>
                    </position>
                </funnels>
                <processGroups>
                    <id>04135d1e-c852-33b7-0000-000000000000</id>
                    <parentGroupId>7e24f040-a26e-38d9-0000-000000000000</parentGroupId>
                    <position>
                        <x>96.00005600603822</x>
                        <y>-289.00004873842636</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>13445549-e863-33f6-0000-000000000000</id>
                            <parentGroupId>04135d1e-c852-33b7-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>04135d1e-c852-33b7-0000-000000000000</groupId>
<id>b0b4792c-2c84-3ad2-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Original</selectedRelationships>
                            <selectedRelationships>Response</selectedRelationships>
                            <source>
<groupId>04135d1e-c852-33b7-0000-000000000000</groupId>
<id>ac0561fb-b88c-39f9-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>21971f5a-89df-3429-0000-000000000000</id>
                            <parentGroupId>04135d1e-c852-33b7-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>04135d1e-c852-33b7-0000-000000000000</groupId>
<id>fb29f364-f14a-30ea-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>splits</selectedRelationships>
                            <source>
<groupId>04135d1e-c852-33b7-0000-000000000000</groupId>
<id>50cc706e-4cdf-34ec-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>2764c920-6deb-31d9-0000-000000000000</id>
                            <parentGroupId>04135d1e-c852-33b7-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>04135d1e-c852-33b7-0000-000000000000</groupId>
<id>a1eaa682-a3ac-3956-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>04135d1e-c852-33b7-0000-000000000000</groupId>
<id>b0b4792c-2c84-3ad2-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>602b0bac-eb45-34f9-0000-000000000000</id>
                            <parentGroupId>04135d1e-c852-33b7-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>04135d1e-c852-33b7-0000-000000000000</groupId>
<id>3eb4461f-1159-371a-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Failure</selectedRelationships>
                            <selectedRelationships>No Retry</selectedRelationships>
                            <selectedRelationships>Retry</selectedRelationships>
                            <source>
<groupId>04135d1e-c852-33b7-0000-000000000000</groupId>
<id>ac0561fb-b88c-39f9-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>67cb3063-6d79-3db4-0000-000000000000</id>
                            <parentGroupId>04135d1e-c852-33b7-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>04135d1e-c852-33b7-0000-000000000000</groupId>
<id>3eb4461f-1159-371a-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>04135d1e-c852-33b7-0000-000000000000</groupId>
<id>bf2ce3f4-1c38-38d4-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>8bb92956-527f-3390-0000-000000000000</id>
                            <parentGroupId>04135d1e-c852-33b7-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>04135d1e-c852-33b7-0000-000000000000</groupId>
<id>3eb4461f-1159-371a-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>04135d1e-c852-33b7-0000-000000000000</groupId>
<id>a1eaa682-a3ac-3956-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9a0f6eff-5f38-3f8f-0000-000000000000</id>
                            <parentGroupId>04135d1e-c852-33b7-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>04135d1e-c852-33b7-0000-000000000000</groupId>
<id>dcf6f2aa-55d5-39b6-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>04135d1e-c852-33b7-0000-000000000000</groupId>
<id>3eb4461f-1159-371a-0000-000000000000</id>
<type>FUNNEL</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>baaa8728-f877-3447-0000-000000000000</id>
                            <parentGroupId>04135d1e-c852-33b7-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>04135d1e-c852-33b7-0000-000000000000</groupId>
<id>3eb4461f-1159-371a-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>04135d1e-c852-33b7-0000-000000000000</groupId>
<id>50cc706e-4cdf-34ec-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>bc885b40-f2b9-3998-0000-000000000000</id>
                            <parentGroupId>04135d1e-c852-33b7-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>04135d1e-c852-33b7-0000-000000000000</groupId>
<id>50cc706e-4cdf-34ec-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>04135d1e-c852-33b7-0000-000000000000</groupId>
<id>bf2ce3f4-1c38-38d4-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d404b8b9-91be-3e7f-0000-000000000000</id>
                            <parentGroupId>04135d1e-c852-33b7-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>04135d1e-c852-33b7-0000-000000000000</groupId>
<id>bf2ce3f4-1c38-38d4-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>04135d1e-c852-33b7-0000-000000000000</groupId>
<id>a1eaa682-a3ac-3956-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <controllerServices>
                            <id>48aaa7d4-c5d6-3863-0000-000000000000</id>
                            <parentGroupId>04135d1e-c852-33b7-0000-000000000000</parentGroupId>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>csv-reader-csv-parser</key>
    <value>
        <name>csv-reader-csv-parser</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
<entry>
    <key>CSV Format</key>
    <value>
        <name>CSV Format</name>
    </value>
</entry>
<entry>
    <key>Value Separator</key>
    <value>
        <name>Value Separator</name>
    </value>
</entry>
<entry>
    <key>Record Separator</key>
    <value>
        <name>Record Separator</name>
    </value>
</entry>
<entry>
    <key>Skip Header Line</key>
    <value>
        <name>Skip Header Line</name>
    </value>
</entry>
<entry>
    <key>ignore-csv-header</key>
    <value>
        <name>ignore-csv-header</name>
    </value>
</entry>
<entry>
    <key>Quote Character</key>
    <value>
        <name>Quote Character</name>
    </value>
</entry>
<entry>
    <key>Escape Character</key>
    <value>
        <name>Escape Character</name>
    </value>
</entry>
<entry>
    <key>Comment Marker</key>
    <value>
        <name>Comment Marker</name>
    </value>
</entry>
<entry>
    <key>Null String</key>
    <value>
        <name>Null String</name>
    </value>
</entry>
<entry>
    <key>Trim Fields</key>
    <value>
        <name>Trim Fields</name>
    </value>
</entry>
<entry>
    <key>csvutils-character-set</key>
    <value>
        <name>csvutils-character-set</name>
    </value>
</entry>
<entry>
    <key>csvutils-allow-duplicate-header-names</key>
    <value>
        <name>csvutils-allow-duplicate-header-names</name>
    </value>
</entry>
                            </descriptors>
                            <name>InitialLoadReader</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>schema-access-strategy</key>
    <value>csv-header-derived</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>csv-reader-csv-parser</key>
    <value>commons-csv</value>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
<entry>
    <key>CSV Format</key>
    <value>custom</value>
</entry>
<entry>
    <key>Value Separator</key>
    <value>,</value>
</entry>
<entry>
    <key>Record Separator</key>
    <value>\n</value>
</entry>
<entry>
    <key>Skip Header Line</key>
    <value>true</value>
</entry>
<entry>
    <key>ignore-csv-header</key>
    <value>true</value>
</entry>
<entry>
    <key>Quote Character</key>
    <value>"</value>
</entry>
<entry>
    <key>Escape Character</key>
    <value>\</value>
</entry>
<entry>
    <key>Comment Marker</key>
</entry>
<entry>
    <key>Null String</key>
</entry>
<entry>
    <key>Trim Fields</key>
    <value>true</value>
</entry>
<entry>
    <key>csvutils-character-set</key>
    <value>UTF-8</value>
</entry>
<entry>
    <key>csvutils-allow-duplicate-header-names</key>
    <value>true</value>
</entry>
                            </properties>
                            <state>DISABLED</state>
                            <type>org.apache.nifi.csv.CSVReader</type>
                        </controllerServices>
                        <controllerServices>
                            <id>a726b3bd-134f-3780-0000-000000000000</id>
                            <parentGroupId>04135d1e-c852-33b7-0000-000000000000</parentGroupId>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>Schema Write Strategy</key>
    <value>
        <name>Schema Write Strategy</name>
    </value>
</entry>
<entry>
    <key>schema-cache</key>
    <value>
        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
        <name>schema-cache</name>
    </value>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>
        <dependencies>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>Schema Write Strategy</propertyName>
        </dependencies>
        <name>schema-protocol-version</name>
    </value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
<entry>
    <key>CSV Format</key>
    <value>
        <name>CSV Format</name>
    </value>
</entry>
<entry>
    <key>Value Separator</key>
    <value>
        <name>Value Separator</name>
    </value>
</entry>
<entry>
    <key>Include Header Line</key>
    <value>
        <name>Include Header Line</name>
    </value>
</entry>
<entry>
    <key>Quote Character</key>
    <value>
        <name>Quote Character</name>
    </value>
</entry>
<entry>
    <key>Escape Character</key>
    <value>
        <name>Escape Character</name>
    </value>
</entry>
<entry>
    <key>Comment Marker</key>
    <value>
        <name>Comment Marker</name>
    </value>
</entry>
<entry>
    <key>Null String</key>
    <value>
        <name>Null String</name>
    </value>
</entry>
<entry>
    <key>Trim Fields</key>
    <value>
        <name>Trim Fields</name>
    </value>
</entry>
<entry>
    <key>Quote Mode</key>
    <value>
        <name>Quote Mode</name>
    </value>
</entry>
<entry>
    <key>Record Separator</key>
    <value>
        <name>Record Separator</name>
    </value>
</entry>
<entry>
    <key>Include Trailing Delimiter</key>
    <value>
        <name>Include Trailing Delimiter</name>
    </value>
</entry>
<entry>
    <key>csvutils-character-set</key>
    <value>
        <name>csvutils-character-set</name>
    </value>
</entry>
                            </descriptors>
                            <name>InitialLoadWriter</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Schema Write Strategy</key>
    <value>no-schema</value>
</entry>
<entry>
    <key>schema-cache</key>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>1</value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>inherit-record-schema</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
<entry>
    <key>CSV Format</key>
    <value>custom</value>
</entry>
<entry>
    <key>Value Separator</key>
    <value>,</value>
</entry>
<entry>
    <key>Include Header Line</key>
    <value>false</value>
</entry>
<entry>
    <key>Quote Character</key>
    <value>"</value>
</entry>
<entry>
    <key>Escape Character</key>
    <value>\</value>
</entry>
<entry>
    <key>Comment Marker</key>
</entry>
<entry>
    <key>Null String</key>
</entry>
<entry>
    <key>Trim Fields</key>
    <value>true</value>
</entry>
<entry>
    <key>Quote Mode</key>
    <value>MINIMAL</value>
</entry>
<entry>
    <key>Record Separator</key>
    <value>\n</value>
</entry>
<entry>
    <key>Include Trailing Delimiter</key>
    <value>false</value>
</entry>
<entry>
    <key>csvutils-character-set</key>
    <value>UTF-8</value>
</entry>
                            </properties>
                            <state>DISABLED</state>
                            <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
                        </controllerServices>
                        <funnels>
                            <id>3eb4461f-1159-371a-0000-000000000000</id>
                            <parentGroupId>04135d1e-c852-33b7-0000-000000000000</parentGroupId>
                            <position>
<x>1048.0</x>
<y>696.0</y>
                            </position>
                        </funnels>
                        <outputPorts>
                            <id>dcf6f2aa-55d5-39b6-0000-000000000000</id>
                            <parentGroupId>04135d1e-c852-33b7-0000-000000000000</parentGroupId>
                            <position>
<x>1240.0</x>
<y>712.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>error</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                            <validationErrors>'Port 'error'' is invalid because Port has no outgoing connections</validationErrors>
                        </outputPorts>
                        <outputPorts>
                            <id>fb29f364-f14a-30ea-0000-000000000000</id>
                            <parentGroupId>04135d1e-c852-33b7-0000-000000000000</parentGroupId>
                            <position>
<x>504.0</x>
<y>1304.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Write Decompressed Data</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>50cc706e-4cdf-34ec-0000-000000000000</id>
                            <parentGroupId>04135d1e-c852-33b7-0000-000000000000</parentGroupId>
                            <position>
<x>456.0</x>
<y>1032.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Record Reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>Record Reader</name>
        </value>
    </entry>
    <entry>
        <key>Record Writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>Record Writer</name>
        </value>
    </entry>
    <entry>
        <key>Records Per Split</key>
        <value>
            <name>Records Per Split</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Record Reader</key>
        <value>48aaa7d4-c5d6-3863-0000-000000000000</value>
    </entry>
    <entry>
        <key>Record Writer</key>
        <value>a726b3bd-134f-3780-0000-000000000000</value>
    </entry>
    <entry>
        <key>Records Per Split</key>
        <value>10000</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>InitialSplit</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>splits</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitRecord</type>
                        </processors>
                        <processors>
                            <id>a1eaa682-a3ac-3956-0000-000000000000</id>
                            <parentGroupId>04135d1e-c852-33b7-0000-000000000000</parentGroupId>
                            <position>
<x>456.0</x>
<y>648.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Mode</key>
        <value>
            <name>Mode</name>
        </value>
    </entry>
    <entry>
        <key>Compression Format</key>
        <value>
            <name>Compression Format</name>
        </value>
    </entry>
    <entry>
        <key>Compression Level</key>
        <value>
            <dependencies>
                <dependentValues>use mime.type attribute</dependentValues>
                <dependentValues>deflate</dependentValues>
                <dependentValues>gzip</dependentValues>
                <dependentValues>xz-lzma2</dependentValues>
                <propertyName>Compression Format</propertyName>
            </dependencies>
            <dependencies>
                <dependentValues>compress</dependentValues>
                <propertyName>Mode</propertyName>
            </dependencies>
            <name>Compression Level</name>
        </value>
    </entry>
    <entry>
        <key>Update Filename</key>
        <value>
            <name>Update Filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Mode</key>
        <value>decompress</value>
    </entry>
    <entry>
        <key>Compression Format</key>
        <value>use mime.type attribute</value>
    </entry>
    <entry>
        <key>Compression Level</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Update Filename</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>DecompressFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.CompressContent</type>
                        </processors>
                        <processors>
                            <id>ac0561fb-b88c-39f9-0000-000000000000</id>
                            <parentGroupId>04135d1e-c852-33b7-0000-000000000000</parentGroupId>
                            <position>
<x>456.0</x>
<y>296.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>
            <name>idle-timeout</name>
        </value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>
            <name>max-idle-connections</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>
            <name>disable-http2</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Useragent</key>
        <value>
            <name>Useragent</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>
            <name>ignore-response-content</name>
        </value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
        <value>
            <name>form-body-form-name</name>
        </value>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>
            <name>set-form-filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>GET</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>http://bulk.meteostat.net/v2/hourly/12375.csv.gz</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>5 mins</value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>5</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>False</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Useragent</key>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>${mime.type}</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>false</value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>5 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GetWeatherHistoryFromApi</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>No Retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Retry</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                        <processors>
                            <id>b0b4792c-2c84-3ad2-0000-000000000000</id>
                            <parentGroupId>04135d1e-c852-33b7-0000-000000000000</parentGroupId>
                            <position>
<x>456.0</x>
<y>472.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>use-filename-in-detection</key>
        <value>
            <name>use-filename-in-detection</name>
        </value>
    </entry>
    <entry>
        <key>config-body</key>
        <value>
            <name>config-body</name>
        </value>
    </entry>
    <entry>
        <key>config-file</key>
        <value>
            <name>config-file</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>use-filename-in-detection</key>
        <value>true</value>
    </entry>
    <entry>
        <key>config-body</key>
    </entry>
    <entry>
        <key>config-file</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>IdentifyMimeType</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.IdentifyMimeType</type>
                        </processors>
                        <processors>
                            <id>bf2ce3f4-1c38-38d4-0000-000000000000</id>
                            <parentGroupId>04135d1e-c852-33b7-0000-000000000000</parentGroupId>
                            <position>
<x>456.0</x>
<y>840.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Regular Expression</key>
        <value>
            <name>Regular Expression</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>
            <name>Replacement Value</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>
            <name>Replacement Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>
            <name>Evaluation Mode</name>
        </value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>
            <name>Line-by-Line Evaluation Mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Regular Expression</key>
        <value>(?s)(^.*$)</value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>date,hour,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>Prepend</value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>Entire text</value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>All</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>AddHeader</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ReplaceText</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Initial Weather Load</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>0724875e-7506-384a-0000-000000000000</id>
                    <parentGroupId>7e24f040-a26e-38d9-0000-000000000000</parentGroupId>
                    <position>
                        <x>856.0000560060382</x>
                        <y>78.99995126157364</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>01831ae5-800b-3960-0000-000000000000</id>
                            <parentGroupId>0724875e-7506-384a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0724875e-7506-384a-0000-000000000000</groupId>
<id>f4d21b36-d5f9-3ce4-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>0724875e-7506-384a-0000-000000000000</groupId>
<id>99cdd022-7e29-3ee9-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>469ed134-24d7-3fbf-0000-000000000000</id>
                            <parentGroupId>0724875e-7506-384a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0724875e-7506-384a-0000-000000000000</groupId>
<id>b12746c3-c055-365f-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>0724875e-7506-384a-0000-000000000000</groupId>
<id>f4d21b36-d5f9-3ce4-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>f67cf4c7-cde1-3311-0000-000000000000</id>
                            <parentGroupId>0724875e-7506-384a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0724875e-7506-384a-0000-000000000000</groupId>
<id>fad4d5ab-ecb0-3e27-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>splits</selectedRelationships>
                            <source>
<groupId>0724875e-7506-384a-0000-000000000000</groupId>
<id>f4d21b36-d5f9-3ce4-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <outputPorts>
                            <id>b12746c3-c055-365f-0000-000000000000</id>
                            <parentGroupId>0724875e-7506-384a-0000-000000000000</parentGroupId>
                            <position>
<x>832.0</x>
<y>320.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>error</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                            <validationErrors>'Port 'error'' is invalid because Port has no outgoing connections</validationErrors>
                        </outputPorts>
                        <outputPorts>
                            <id>fad4d5ab-ecb0-3e27-0000-000000000000</id>
                            <parentGroupId>0724875e-7506-384a-0000-000000000000</parentGroupId>
                            <position>
<x>288.0</x>
<y>408.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>LoadUpdatedWeather</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>4aa92c57-334b-32e1-0000-000000000000</id>
                            <parentGroupId>0724875e-7506-384a-0000-000000000000</parentGroupId>
                            <position>
<x>928.0</x>
<y>104.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Command</key>
        <value>
            <name>Command</name>
        </value>
    </entry>
    <entry>
        <key>Command Arguments</key>
        <value>
            <name>Command Arguments</name>
        </value>
    </entry>
    <entry>
        <key>Batch Duration</key>
        <value>
            <name>Batch Duration</name>
        </value>
    </entry>
    <entry>
        <key>Redirect Error Stream</key>
        <value>
            <name>Redirect Error Stream</name>
        </value>
    </entry>
    <entry>
        <key>Working Directory</key>
        <value>
            <name>Working Directory</name>
        </value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>
            <name>Argument Delimiter</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Command</key>
        <value>/home/vagrant/starter-script.sh</value>
    </entry>
    <entry>
        <key>Command Arguments</key>
    </entry>
    <entry>
        <key>Batch Duration</key>
    </entry>
    <entry>
        <key>Redirect Error Stream</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Working Directory</key>
        <value>/home/vagrant</value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value> </value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>5 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GetUpdatedWeatherFromApi</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteProcess</type>
                        </processors>
                        <processors>
                            <id>99cdd022-7e29-3ee9-0000-000000000000</id>
                            <parentGroupId>0724875e-7506-384a-0000-000000000000</parentGroupId>
                            <position>
<x>232.0</x>
<y>72.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Input Directory</key>
        <value>
            <name>Input Directory</name>
        </value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>
            <name>File Filter</name>
        </value>
    </entry>
    <entry>
        <key>Path Filter</key>
        <value>
            <name>Path Filter</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Keep Source File</key>
        <value>
            <name>Keep Source File</name>
        </value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>
            <name>Recurse Subdirectories</name>
        </value>
    </entry>
    <entry>
        <key>Polling Interval</key>
        <value>
            <name>Polling Interval</name>
        </value>
    </entry>
    <entry>
        <key>Ignore Hidden Files</key>
        <value>
            <name>Ignore Hidden Files</name>
        </value>
    </entry>
    <entry>
        <key>Minimum File Age</key>
        <value>
            <name>Minimum File Age</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Age</key>
        <value>
            <name>Maximum File Age</name>
        </value>
    </entry>
    <entry>
        <key>Minimum File Size</key>
        <value>
            <name>Minimum File Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Size</key>
        <value>
            <name>Maximum File Size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Input Directory</key>
        <value>/home/vagrant/nifi/input</value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>.*\.csv</value>
    </entry>
    <entry>
        <key>Path Filter</key>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>10</value>
    </entry>
    <entry>
        <key>Keep Source File</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Polling Interval</key>
        <value>0 sec</value>
    </entry>
    <entry>
        <key>Ignore Hidden Files</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Minimum File Age</key>
        <value>0 sec</value>
    </entry>
    <entry>
        <key>Maximum File Age</key>
    </entry>
    <entry>
        <key>Minimum File Size</key>
        <value>0 B</value>
    </entry>
    <entry>
        <key>Maximum File Size</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>4 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GetWeatherUpdate</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GetFile</type>
                        </processors>
                        <processors>
                            <id>f4d21b36-d5f9-3ce4-0000-000000000000</id>
                            <parentGroupId>0724875e-7506-384a-0000-000000000000</parentGroupId>
                            <position>
<x>232.0</x>
<y>240.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Record Reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>Record Reader</name>
        </value>
    </entry>
    <entry>
        <key>Record Writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>Record Writer</name>
        </value>
    </entry>
    <entry>
        <key>Records Per Split</key>
        <value>
            <name>Records Per Split</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Record Reader</key>
        <value>160edeee-0bff-3bb7-0000-000000000000</value>
    </entry>
    <entry>
        <key>Record Writer</key>
        <value>eac0b9b0-e338-36b8-0000-000000000000</value>
    </entry>
    <entry>
        <key>Records Per Split</key>
        <value>1</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>SplitRecord</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>splits</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitRecord</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>UpdatedWeatherLoad</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>adba72ec-195b-39cd-0000-000000000000</id>
                    <parentGroupId>7e24f040-a26e-38d9-0000-000000000000</parentGroupId>
                    <position>
                        <x>384.0000560060382</x>
                        <y>406.99995126157364</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>01ff8524-ab3f-3418-0000-000000000000</id>
                            <parentGroupId>adba72ec-195b-39cd-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>adba72ec-195b-39cd-0000-000000000000</groupId>
<id>863bc494-0f89-3801-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>adba72ec-195b-39cd-0000-000000000000</groupId>
<id>4a24ef0f-1f5f-3157-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>1759b275-9405-39e8-0000-000000000000</id>
                            <parentGroupId>adba72ec-195b-39cd-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>adba72ec-195b-39cd-0000-000000000000</groupId>
<id>3cbe6c2a-95f6-3475-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>adba72ec-195b-39cd-0000-000000000000</groupId>
<id>739fd8f1-9d93-32f6-0000-000000000000</id>
<type>FUNNEL</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>3baa72dd-5c7f-345f-0000-000000000000</id>
                            <parentGroupId>adba72ec-195b-39cd-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>adba72ec-195b-39cd-0000-000000000000</groupId>
<id>61fb304b-58d5-31ad-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>adba72ec-195b-39cd-0000-000000000000</groupId>
<id>863bc494-0f89-3801-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>3eb26ccf-ac16-3651-0000-000000000000</id>
                            <parentGroupId>adba72ec-195b-39cd-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>adba72ec-195b-39cd-0000-000000000000</groupId>
<id>d982b58c-b08f-3219-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>adba72ec-195b-39cd-0000-000000000000</groupId>
<id>625988f9-8eae-3b32-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>572ab919-01b5-32aa-0000-000000000000</id>
                            <parentGroupId>adba72ec-195b-39cd-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>adba72ec-195b-39cd-0000-000000000000</groupId>
<id>dd3298e6-884c-3377-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>adba72ec-195b-39cd-0000-000000000000</groupId>
<id>d982b58c-b08f-3219-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>65ef4e6d-663e-347a-0000-000000000000</id>
                            <parentGroupId>adba72ec-195b-39cd-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>adba72ec-195b-39cd-0000-000000000000</groupId>
<id>625988f9-8eae-3b32-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>merged</selectedRelationships>
                            <source>
<groupId>adba72ec-195b-39cd-0000-000000000000</groupId>
<id>f4266f2d-c69f-37fa-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>8c5f1ca1-984a-3f35-0000-000000000000</id>
                            <parentGroupId>adba72ec-195b-39cd-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>adba72ec-195b-39cd-0000-000000000000</groupId>
<id>739fd8f1-9d93-32f6-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>adba72ec-195b-39cd-0000-000000000000</groupId>
<id>f4266f2d-c69f-37fa-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>90a7ec70-6e1e-3299-0000-000000000000</id>
                            <parentGroupId>adba72ec-195b-39cd-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>adba72ec-195b-39cd-0000-000000000000</groupId>
<id>739fd8f1-9d93-32f6-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>adba72ec-195b-39cd-0000-000000000000</groupId>
<id>4a24ef0f-1f5f-3157-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9ae49a19-7299-3d84-0000-000000000000</id>
                            <parentGroupId>adba72ec-195b-39cd-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>adba72ec-195b-39cd-0000-000000000000</groupId>
<id>f4266f2d-c69f-37fa-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>adba72ec-195b-39cd-0000-000000000000</groupId>
<id>61fb304b-58d5-31ad-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>bc927af4-dd29-3c63-0000-000000000000</id>
                            <parentGroupId>adba72ec-195b-39cd-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>adba72ec-195b-39cd-0000-000000000000</groupId>
<id>739fd8f1-9d93-32f6-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>adba72ec-195b-39cd-0000-000000000000</groupId>
<id>625988f9-8eae-3b32-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>be7acc5e-d93c-39ed-0000-000000000000</id>
                            <parentGroupId>adba72ec-195b-39cd-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>adba72ec-195b-39cd-0000-000000000000</groupId>
<id>4a24ef0f-1f5f-3157-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>adba72ec-195b-39cd-0000-000000000000</groupId>
<id>1c099d77-a971-31a6-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>739fd8f1-9d93-32f6-0000-000000000000</id>
                            <parentGroupId>adba72ec-195b-39cd-0000-000000000000</parentGroupId>
                            <position>
<x>848.0</x>
<y>328.0</y>
                            </position>
                        </funnels>
                        <inputPorts>
                            <id>1c099d77-a971-31a6-0000-000000000000</id>
                            <parentGroupId>adba72ec-195b-39cd-0000-000000000000</parentGroupId>
                            <position>
<x>208.0</x>
<y>-552.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>LoadSplittedFiles</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>3cbe6c2a-95f6-3475-0000-000000000000</id>
                            <parentGroupId>adba72ec-195b-39cd-0000-000000000000</parentGroupId>
                            <position>
<x>1144.0</x>
<y>328.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>error</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                            <validationErrors>'Port 'error'' is invalid because Port has no outgoing connections</validationErrors>
                        </outputPorts>
                        <outputPorts>
                            <id>dd3298e6-884c-3377-0000-000000000000</id>
                            <parentGroupId>adba72ec-195b-39cd-0000-000000000000</parentGroupId>
                            <position>
<x>224.0</x>
<y>776.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>LoadToPartition</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>4a24ef0f-1f5f-3157-0000-000000000000</id>
                            <parentGroupId>adba72ec-195b-39cd-0000-000000000000</parentGroupId>
                            <position>
<x>152.0</x>
<y>-408.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Capture Group Length</key>
        <value>
            <name>Maximum Capture Group Length</name>
        </value>
    </entry>
    <entry>
        <key>Enable Canonical Equivalence</key>
        <value>
            <name>Enable Canonical Equivalence</name>
        </value>
    </entry>
    <entry>
        <key>Enable Case-insensitive Matching</key>
        <value>
            <name>Enable Case-insensitive Matching</name>
        </value>
    </entry>
    <entry>
        <key>Permit Whitespace and Comments in Pattern</key>
        <value>
            <name>Permit Whitespace and Comments in Pattern</name>
        </value>
    </entry>
    <entry>
        <key>Enable DOTALL Mode</key>
        <value>
            <name>Enable DOTALL Mode</name>
        </value>
    </entry>
    <entry>
        <key>Enable Literal Parsing of the Pattern</key>
        <value>
            <name>Enable Literal Parsing of the Pattern</name>
        </value>
    </entry>
    <entry>
        <key>Enable Multiline Mode</key>
        <value>
            <name>Enable Multiline Mode</name>
        </value>
    </entry>
    <entry>
        <key>Enable Unicode-aware Case Folding</key>
        <value>
            <name>Enable Unicode-aware Case Folding</name>
        </value>
    </entry>
    <entry>
        <key>Enable Unicode Predefined Character Classes</key>
        <value>
            <name>Enable Unicode Predefined Character Classes</name>
        </value>
    </entry>
    <entry>
        <key>Enable Unix Lines Mode</key>
        <value>
            <name>Enable Unix Lines Mode</name>
        </value>
    </entry>
    <entry>
        <key>Include Capture Group 0</key>
        <value>
            <name>Include Capture Group 0</name>
        </value>
    </entry>
    <entry>
        <key>extract-text-enable-repeating-capture-group</key>
        <value>
            <name>extract-text-enable-repeating-capture-group</name>
        </value>
    </entry>
    <entry>
        <key>extract-text-enable-named-groups</key>
        <value>
            <name>extract-text-enable-named-groups</name>
        </value>
    </entry>
    <entry>
        <key>content</key>
        <value>
            <name>content</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>Maximum Capture Group Length</key>
        <value>1024</value>
    </entry>
    <entry>
        <key>Enable Canonical Equivalence</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Case-insensitive Matching</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Permit Whitespace and Comments in Pattern</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable DOTALL Mode</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Literal Parsing of the Pattern</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Multiline Mode</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Unicode-aware Case Folding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Unicode Predefined Character Classes</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Unix Lines Mode</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Include Capture Group 0</key>
        <value>true</value>
    </entry>
    <entry>
        <key>extract-text-enable-repeating-capture-group</key>
        <value>false</value>
    </entry>
    <entry>
        <key>extract-text-enable-named-groups</key>
        <value>false</value>
    </entry>
    <entry>
        <key>content</key>
        <value>(\A.+\Z)</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ExtractText</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExtractText</type>
                        </processors>
                        <processors>
                            <id>61fb304b-58d5-31ad-0000-000000000000</id>
                            <parentGroupId>adba72ec-195b-39cd-0000-000000000000</parentGroupId>
                            <position>
<x>152.0</x>
<y>-16.0</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>filename</key>
        <value>
            <name>filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>filename</key>
        <value>${year}.csv</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ChangeFilename</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>625988f9-8eae-3b32-0000-000000000000</id>
                            <parentGroupId>adba72ec-195b-39cd-0000-000000000000</parentGroupId>
                            <position>
<x>152.0</x>
<y>376.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Regular Expression</key>
        <value>
            <name>Regular Expression</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>
            <name>Replacement Value</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>
            <name>Replacement Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>
            <name>Evaluation Mode</name>
        </value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>
            <name>Line-by-Line Evaluation Mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Regular Expression</key>
        <value>(?s)(^.*$)</value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>date,hour,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>Prepend</value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>Entire text</value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>All</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>AddHeader</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ReplaceText</type>
                        </processors>
                        <processors>
                            <id>863bc494-0f89-3801-0000-000000000000</id>
                            <parentGroupId>adba72ec-195b-39cd-0000-000000000000</parentGroupId>
                            <position>
<x>160.0</x>
<y>-208.0</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>year</key>
        <value>
            <name>year</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>year</key>
        <value>${content:substring(0,4)}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>AddYearAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>d982b58c-b08f-3219-0000-000000000000</id>
                            <parentGroupId>adba72ec-195b-39cd-0000-000000000000</parentGroupId>
                            <position>
<x>152.0</x>
<y>552.0</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>filename</key>
        <value>
            <name>filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>filename</key>
        <value>${year}.csv</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ChangeFilename</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>f4266f2d-c69f-37fa-0000-000000000000</id>
                            <parentGroupId>adba72ec-195b-39cd-0000-000000000000</parentGroupId>
                            <position>
<x>152.0</x>
<y>184.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Merge Strategy</key>
        <value>
            <name>Merge Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Merge Format</key>
        <value>
            <name>Merge Format</name>
        </value>
    </entry>
    <entry>
        <key>Attribute Strategy</key>
        <value>
            <name>Attribute Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Correlation Attribute Name</key>
        <value>
            <dependencies>
                <dependentValues>Bin-Packing Algorithm</dependentValues>
                <propertyName>Merge Strategy</propertyName>
            </dependencies>
            <name>Correlation Attribute Name</name>
        </value>
    </entry>
    <entry>
        <key>mergecontent-metadata-strategy</key>
        <value>
            <dependencies>
                <dependentValues>Avro</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>mergecontent-metadata-strategy</name>
        </value>
    </entry>
    <entry>
        <key>Minimum Number of Entries</key>
        <value>
            <dependencies>
                <dependentValues>Bin-Packing Algorithm</dependentValues>
                <propertyName>Merge Strategy</propertyName>
            </dependencies>
            <name>Minimum Number of Entries</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Number of Entries</key>
        <value>
            <dependencies>
                <dependentValues>Bin-Packing Algorithm</dependentValues>
                <propertyName>Merge Strategy</propertyName>
            </dependencies>
            <name>Maximum Number of Entries</name>
        </value>
    </entry>
    <entry>
        <key>Minimum Group Size</key>
        <value>
            <dependencies>
                <dependentValues>Bin-Packing Algorithm</dependentValues>
                <propertyName>Merge Strategy</propertyName>
            </dependencies>
            <name>Minimum Group Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Group Size</key>
        <value>
            <dependencies>
                <dependentValues>Bin-Packing Algorithm</dependentValues>
                <propertyName>Merge Strategy</propertyName>
            </dependencies>
            <name>Maximum Group Size</name>
        </value>
    </entry>
    <entry>
        <key>Max Bin Age</key>
        <value>
            <name>Max Bin Age</name>
        </value>
    </entry>
    <entry>
        <key>Maximum number of Bins</key>
        <value>
            <name>Maximum number of Bins</name>
        </value>
    </entry>
    <entry>
        <key>Delimiter Strategy</key>
        <value>
            <dependencies>
                <dependentValues>Binary Concatenation</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Delimiter Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Header File</key>
        <value>
            <dependencies>
                <dependentValues>Filename</dependentValues>
                <dependentValues>Text</dependentValues>
                <propertyName>Delimiter Strategy</propertyName>
            </dependencies>
            <dependencies>
                <dependentValues>Binary Concatenation</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Header File</name>
        </value>
    </entry>
    <entry>
        <key>Footer File</key>
        <value>
            <dependencies>
                <dependentValues>Filename</dependentValues>
                <dependentValues>Text</dependentValues>
                <propertyName>Delimiter Strategy</propertyName>
            </dependencies>
            <dependencies>
                <dependentValues>Binary Concatenation</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Footer File</name>
        </value>
    </entry>
    <entry>
        <key>Demarcator File</key>
        <value>
            <dependencies>
                <dependentValues>Filename</dependentValues>
                <dependentValues>Text</dependentValues>
                <propertyName>Delimiter Strategy</propertyName>
            </dependencies>
            <dependencies>
                <dependentValues>Binary Concatenation</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Demarcator File</name>
        </value>
    </entry>
    <entry>
        <key>Compression Level</key>
        <value>
            <dependencies>
                <dependentValues>ZIP</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Compression Level</name>
        </value>
    </entry>
    <entry>
        <key>Keep Path</key>
        <value>
            <dependencies>
                <dependentValues>ZIP</dependentValues>
                <dependentValues>TAR</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Keep Path</name>
        </value>
    </entry>
    <entry>
        <key>Tar Modified Time</key>
        <value>
            <dependencies>
                <dependentValues>TAR</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Tar Modified Time</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Merge Strategy</key>
        <value>Bin-Packing Algorithm</value>
    </entry>
    <entry>
        <key>Merge Format</key>
        <value>Binary Concatenation</value>
    </entry>
    <entry>
        <key>Attribute Strategy</key>
        <value>Keep All Unique Attributes</value>
    </entry>
    <entry>
        <key>Correlation Attribute Name</key>
        <value>filename</value>
    </entry>
    <entry>
        <key>mergecontent-metadata-strategy</key>
        <value>Do Not Merge Uncommon Metadata</value>
    </entry>
    <entry>
        <key>Minimum Number of Entries</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Maximum Number of Entries</key>
        <value>1000</value>
    </entry>
    <entry>
        <key>Minimum Group Size</key>
        <value>10 B</value>
    </entry>
    <entry>
        <key>Maximum Group Size</key>
    </entry>
    <entry>
        <key>Max Bin Age</key>
    </entry>
    <entry>
        <key>Maximum number of Bins</key>
        <value>5</value>
    </entry>
    <entry>
        <key>Delimiter Strategy</key>
        <value>Do Not Use Delimiters</value>
    </entry>
    <entry>
        <key>Header File</key>
    </entry>
    <entry>
        <key>Footer File</key>
    </entry>
    <entry>
        <key>Demarcator File</key>
    </entry>
    <entry>
        <key>Compression Level</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Keep Path</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Tar Modified Time</key>
        <value>${file.lastModifiedTime}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>MergeYearlyFiles</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>merged</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.MergeContent</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>ExtractYearInfo</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>adc499e7-3fae-3ce3-0000-000000000000</id>
                    <parentGroupId>7e24f040-a26e-38d9-0000-000000000000</parentGroupId>
                    <position>
                        <x>240.00005600603822</x>
                        <y>-41.00004873842636</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>0fa6b457-84ba-382e-0000-000000000000</id>
                            <parentGroupId>adc499e7-3fae-3ce3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>adc499e7-3fae-3ce3-0000-000000000000</groupId>
<id>09a49760-f929-3c4c-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>adc499e7-3fae-3ce3-0000-000000000000</groupId>
<id>b780e296-23e6-341c-0000-000000000000</id>
<type>FUNNEL</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>1e9c5553-b8de-3b16-0000-000000000000</id>
                            <parentGroupId>adc499e7-3fae-3ce3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>adc499e7-3fae-3ce3-0000-000000000000</groupId>
<id>b780e296-23e6-341c-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>adc499e7-3fae-3ce3-0000-000000000000</groupId>
<id>1275dafe-2b9f-38ca-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>58b5f9b9-225b-3247-0000-000000000000</id>
                            <parentGroupId>adc499e7-3fae-3ce3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>884.0</x>
<y>193.0</y>
                            </bends>
                            <destination>
<groupId>adc499e7-3fae-3ce3-0000-000000000000</groupId>
<id>b780e296-23e6-341c-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>adc499e7-3fae-3ce3-0000-000000000000</groupId>
<id>fc090f7b-5061-3b3f-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>943e83ad-3f31-38c8-0000-000000000000</id>
                            <parentGroupId>adc499e7-3fae-3ce3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>adc499e7-3fae-3ce3-0000-000000000000</groupId>
<id>b780e296-23e6-341c-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>adc499e7-3fae-3ce3-0000-000000000000</groupId>
<id>10311de1-40af-3125-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>97e3e7d5-3f38-340e-0000-000000000000</id>
                            <parentGroupId>adc499e7-3fae-3ce3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>adc499e7-3fae-3ce3-0000-000000000000</groupId>
<id>8dfdbd47-7f19-3747-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>splits</selectedRelationships>
                            <source>
<groupId>adc499e7-3fae-3ce3-0000-000000000000</groupId>
<id>1275dafe-2b9f-38ca-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>bb389450-e704-3b08-0000-000000000000</id>
                            <parentGroupId>adc499e7-3fae-3ce3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>adc499e7-3fae-3ce3-0000-000000000000</groupId>
<id>fc090f7b-5061-3b3f-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>adc499e7-3fae-3ce3-0000-000000000000</groupId>
<id>8dfdbd47-7f19-3747-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>bbf3c78d-f231-3aa1-0000-000000000000</id>
                            <parentGroupId>adc499e7-3fae-3ce3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>adc499e7-3fae-3ce3-0000-000000000000</groupId>
<id>b780e296-23e6-341c-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>adc499e7-3fae-3ce3-0000-000000000000</groupId>
<id>8dfdbd47-7f19-3747-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c37d6716-7f94-3884-0000-000000000000</id>
                            <parentGroupId>adc499e7-3fae-3ce3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>adc499e7-3fae-3ce3-0000-000000000000</groupId>
<id>b780e296-23e6-341c-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>adc499e7-3fae-3ce3-0000-000000000000</groupId>
<id>fc090f7b-5061-3b3f-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>cf65f8a6-e783-3919-0000-000000000000</id>
                            <parentGroupId>adc499e7-3fae-3ce3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>adc499e7-3fae-3ce3-0000-000000000000</groupId>
<id>10311de1-40af-3125-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>adc499e7-3fae-3ce3-0000-000000000000</groupId>
<id>5dd4d531-82c1-3c13-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e1d25203-5653-345a-0000-000000000000</id>
                            <parentGroupId>adc499e7-3fae-3ce3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>adc499e7-3fae-3ce3-0000-000000000000</groupId>
<id>1275dafe-2b9f-38ca-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>adc499e7-3fae-3ce3-0000-000000000000</groupId>
<id>10311de1-40af-3125-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>fd0a049f-70e7-3e81-0000-000000000000</id>
                            <parentGroupId>adc499e7-3fae-3ce3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>adc499e7-3fae-3ce3-0000-000000000000</groupId>
<id>2b111c23-4637-3523-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>splits</selectedRelationships>
                            <source>
<groupId>adc499e7-3fae-3ce3-0000-000000000000</groupId>
<id>fc090f7b-5061-3b3f-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <controllerServices>
                            <id>458272fe-c84a-39ba-0000-000000000000</id>
                            <parentGroupId>adc499e7-3fae-3ce3-0000-000000000000</parentGroupId>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>Schema Write Strategy</key>
    <value>
        <name>Schema Write Strategy</name>
    </value>
</entry>
<entry>
    <key>schema-cache</key>
    <value>
        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
        <name>schema-cache</name>
    </value>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>
        <dependencies>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>Schema Write Strategy</propertyName>
        </dependencies>
        <name>schema-protocol-version</name>
    </value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
<entry>
    <key>CSV Format</key>
    <value>
        <name>CSV Format</name>
    </value>
</entry>
<entry>
    <key>Value Separator</key>
    <value>
        <name>Value Separator</name>
    </value>
</entry>
<entry>
    <key>Include Header Line</key>
    <value>
        <name>Include Header Line</name>
    </value>
</entry>
<entry>
    <key>Quote Character</key>
    <value>
        <name>Quote Character</name>
    </value>
</entry>
<entry>
    <key>Escape Character</key>
    <value>
        <name>Escape Character</name>
    </value>
</entry>
<entry>
    <key>Comment Marker</key>
    <value>
        <name>Comment Marker</name>
    </value>
</entry>
<entry>
    <key>Null String</key>
    <value>
        <name>Null String</name>
    </value>
</entry>
<entry>
    <key>Trim Fields</key>
    <value>
        <name>Trim Fields</name>
    </value>
</entry>
<entry>
    <key>Quote Mode</key>
    <value>
        <name>Quote Mode</name>
    </value>
</entry>
<entry>
    <key>Record Separator</key>
    <value>
        <name>Record Separator</name>
    </value>
</entry>
<entry>
    <key>Include Trailing Delimiter</key>
    <value>
        <name>Include Trailing Delimiter</name>
    </value>
</entry>
<entry>
    <key>csvutils-character-set</key>
    <value>
        <name>csvutils-character-set</name>
    </value>
</entry>
                            </descriptors>
                            <name>PreSplit</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Schema Write Strategy</key>
    <value>no-schema</value>
</entry>
<entry>
    <key>schema-cache</key>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>1</value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>inherit-record-schema</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
<entry>
    <key>CSV Format</key>
    <value>custom</value>
</entry>
<entry>
    <key>Value Separator</key>
    <value>,</value>
</entry>
<entry>
    <key>Include Header Line</key>
    <value>false</value>
</entry>
<entry>
    <key>Quote Character</key>
    <value>"</value>
</entry>
<entry>
    <key>Escape Character</key>
    <value>\</value>
</entry>
<entry>
    <key>Comment Marker</key>
</entry>
<entry>
    <key>Null String</key>
</entry>
<entry>
    <key>Trim Fields</key>
    <value>true</value>
</entry>
<entry>
    <key>Quote Mode</key>
    <value>MINIMAL</value>
</entry>
<entry>
    <key>Record Separator</key>
    <value>\n</value>
</entry>
<entry>
    <key>Include Trailing Delimiter</key>
    <value>false</value>
</entry>
<entry>
    <key>csvutils-character-set</key>
    <value>UTF-8</value>
</entry>
                            </properties>
                            <state>DISABLED</state>
                            <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
                        </controllerServices>
                        <controllerServices>
                            <id>94b8423b-1945-339b-0000-000000000000</id>
                            <parentGroupId>adc499e7-3fae-3ce3-0000-000000000000</parentGroupId>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>csv-reader-csv-parser</key>
    <value>
        <name>csv-reader-csv-parser</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
<entry>
    <key>CSV Format</key>
    <value>
        <name>CSV Format</name>
    </value>
</entry>
<entry>
    <key>Value Separator</key>
    <value>
        <name>Value Separator</name>
    </value>
</entry>
<entry>
    <key>Record Separator</key>
    <value>
        <name>Record Separator</name>
    </value>
</entry>
<entry>
    <key>Skip Header Line</key>
    <value>
        <name>Skip Header Line</name>
    </value>
</entry>
<entry>
    <key>ignore-csv-header</key>
    <value>
        <name>ignore-csv-header</name>
    </value>
</entry>
<entry>
    <key>Quote Character</key>
    <value>
        <name>Quote Character</name>
    </value>
</entry>
<entry>
    <key>Escape Character</key>
    <value>
        <name>Escape Character</name>
    </value>
</entry>
<entry>
    <key>Comment Marker</key>
    <value>
        <name>Comment Marker</name>
    </value>
</entry>
<entry>
    <key>Null String</key>
    <value>
        <name>Null String</name>
    </value>
</entry>
<entry>
    <key>Trim Fields</key>
    <value>
        <name>Trim Fields</name>
    </value>
</entry>
<entry>
    <key>csvutils-character-set</key>
    <value>
        <name>csvutils-character-set</name>
    </value>
</entry>
<entry>
    <key>csvutils-allow-duplicate-header-names</key>
    <value>
        <name>csvutils-allow-duplicate-header-names</name>
    </value>
</entry>
                            </descriptors>
                            <name>PreSplit</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>schema-access-strategy</key>
    <value>csv-header-derived</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>csv-reader-csv-parser</key>
    <value>commons-csv</value>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
<entry>
    <key>CSV Format</key>
    <value>custom</value>
</entry>
<entry>
    <key>Value Separator</key>
    <value>,</value>
</entry>
<entry>
    <key>Record Separator</key>
    <value>\n</value>
</entry>
<entry>
    <key>Skip Header Line</key>
    <value>true</value>
</entry>
<entry>
    <key>ignore-csv-header</key>
    <value>true</value>
</entry>
<entry>
    <key>Quote Character</key>
    <value>"</value>
</entry>
<entry>
    <key>Escape Character</key>
    <value>\</value>
</entry>
<entry>
    <key>Comment Marker</key>
</entry>
<entry>
    <key>Null String</key>
</entry>
<entry>
    <key>Trim Fields</key>
    <value>true</value>
</entry>
<entry>
    <key>csvutils-character-set</key>
    <value>UTF-8</value>
</entry>
<entry>
    <key>csvutils-allow-duplicate-header-names</key>
    <value>true</value>
</entry>
                            </properties>
                            <state>DISABLED</state>
                            <type>org.apache.nifi.csv.CSVReader</type>
                        </controllerServices>
                        <funnels>
                            <id>b780e296-23e6-341c-0000-000000000000</id>
                            <parentGroupId>adc499e7-3fae-3ce3-0000-000000000000</parentGroupId>
                            <position>
<x>1072.0</x>
<y>72.0</y>
                            </position>
                        </funnels>
                        <inputPorts>
                            <id>5dd4d531-82c1-3c13-0000-000000000000</id>
                            <parentGroupId>adc499e7-3fae-3ce3-0000-000000000000</parentGroupId>
                            <position>
<x>544.0</x>
<y>-368.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>FullDataLoad</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>09a49760-f929-3c4c-0000-000000000000</id>
                            <parentGroupId>adc499e7-3fae-3ce3-0000-000000000000</parentGroupId>
                            <position>
<x>1311.999989804326</x>
<y>115.00000586673605</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>error</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                            <validationErrors>'Port 'error'' is invalid because Port has no outgoing connections</validationErrors>
                        </outputPorts>
                        <outputPorts>
                            <id>2b111c23-4637-3523-0000-000000000000</id>
                            <parentGroupId>adc499e7-3fae-3ce3-0000-000000000000</parentGroupId>
                            <position>
<x>544.0</x>
<y>632.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>SplittedFilesOutput</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>10311de1-40af-3125-0000-000000000000</id>
                            <parentGroupId>adc499e7-3fae-3ce3-0000-000000000000</parentGroupId>
                            <position>
<x>488.0</x>
<y>-208.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Regular Expression</key>
        <value>
            <name>Regular Expression</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>
            <name>Replacement Value</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>
            <name>Replacement Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>
            <name>Evaluation Mode</name>
        </value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>
            <name>Line-by-Line Evaluation Mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Regular Expression</key>
        <value>(?s)(^.*$)</value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>date,hour,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>Prepend</value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>Entire text</value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>All</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>AddHeader</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ReplaceText</type>
                        </processors>
                        <processors>
                            <id>1275dafe-2b9f-38ca-0000-000000000000</id>
                            <parentGroupId>adc499e7-3fae-3ce3-0000-000000000000</parentGroupId>
                            <position>
<x>488.0</x>
<y>-24.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Record Reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>Record Reader</name>
        </value>
    </entry>
    <entry>
        <key>Record Writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>Record Writer</name>
        </value>
    </entry>
    <entry>
        <key>Records Per Split</key>
        <value>
            <name>Records Per Split</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Record Reader</key>
        <value>94b8423b-1945-339b-0000-000000000000</value>
    </entry>
    <entry>
        <key>Record Writer</key>
        <value>458272fe-c84a-39ba-0000-000000000000</value>
    </entry>
    <entry>
        <key>Records Per Split</key>
        <value>1000</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>InitialSplit</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>splits</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitRecord</type>
                        </processors>
                        <processors>
                            <id>8dfdbd47-7f19-3747-0000-000000000000</id>
                            <parentGroupId>adc499e7-3fae-3ce3-0000-000000000000</parentGroupId>
                            <position>
<x>488.0</x>
<y>168.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Regular Expression</key>
        <value>
            <name>Regular Expression</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>
            <name>Replacement Value</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>
            <name>Replacement Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>
            <name>Evaluation Mode</name>
        </value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>
            <name>Line-by-Line Evaluation Mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Regular Expression</key>
        <value>(?s)(^.*$)</value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>date,hour,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>Prepend</value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>Entire text</value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>All</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>AddHeader</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ReplaceText</type>
                        </processors>
                        <processors>
                            <id>fc090f7b-5061-3b3f-0000-000000000000</id>
                            <parentGroupId>adc499e7-3fae-3ce3-0000-000000000000</parentGroupId>
                            <position>
<x>488.0</x>
<y>376.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Record Reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>Record Reader</name>
        </value>
    </entry>
    <entry>
        <key>Record Writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>Record Writer</name>
        </value>
    </entry>
    <entry>
        <key>Records Per Split</key>
        <value>
            <name>Records Per Split</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Record Reader</key>
        <value>94b8423b-1945-339b-0000-000000000000</value>
    </entry>
    <entry>
        <key>Record Writer</key>
        <value>458272fe-c84a-39ba-0000-000000000000</value>
    </entry>
    <entry>
        <key>Records Per Split</key>
        <value>1</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>InitialSplit</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>splits</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitRecord</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Split Records</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>65479159-74de-3b20-0000-000000000000</id>
                    <parentGroupId>7e24f040-a26e-38d9-0000-000000000000</parentGroupId>
                    <position>
                        <x>416.0000560060382</x>
                        <y>694.9999512615736</y>
                    </position>
                    <bundle>
                        <artifact>nifi-hadoop-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>
    <name>Hadoop Configuration Resources</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
<value>
    <name>Kerberos Principal</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
<value>
    <name>Kerberos Keytab</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Password</key>
<value>
    <name>Kerberos Password</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>
    <name>Kerberos Relogin Period</name>
</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
<value>
    <name>Additional Classpath Resources</name>
</value>
                            </entry>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Block Size</key>
<value>
    <name>Block Size</name>
</value>
                            </entry>
                            <entry>
<key>IO Buffer Size</key>
<value>
    <name>IO Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replication</key>
<value>
    <name>Replication</name>
</value>
                            </entry>
                            <entry>
<key>Permissions umask</key>
<value>
    <name>Permissions umask</name>
</value>
                            </entry>
                            <entry>
<key>Remote Owner</key>
<value>
    <name>Remote Owner</name>
</value>
                            </entry>
                            <entry>
<key>Remote Group</key>
<value>
    <name>Remote Group</name>
</value>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>
    <name>Compression codec</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Locality</key>
<value>
    <name>Ignore Locality</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>/usr/local/hadoop/etc/hadoop/hdfs-site.xml,/usr/local/hadoop/etc/hadoop/core-site.xml</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
                            </entry>
                            <entry>
<key>Kerberos Password</key>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>4 hours</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
                            </entry>
                            <entry>
<key>Directory</key>
<value>/user/kpk/weather/${year}</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>append</value>
                            </entry>
                            <entry>
<key>Block Size</key>
                            </entry>
                            <entry>
<key>IO Buffer Size</key>
                            </entry>
                            <entry>
<key>Replication</key>
                            </entry>
                            <entry>
<key>Permissions umask</key>
                            </entry>
                            <entry>
<key>Remote Owner</key>
                            </entry>
                            <entry>
<key>Remote Group</key>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>Ignore Locality</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>WriteToPartition</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Load Weather</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>12/30/2022 17:47:21 UTC</timestamp>
</template>
